body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #337ab7;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bmc-btn-container {
  position: absolute;
  width: fit-content;
  bottom: 0px;
  left: 0px;
  padding: 2.5rem 1rem;
}

@media all and (max-width:680px) {

  .bmc-btn-container {
    display: fixed;
    transform: translate(calc(50vw - 50%));
  }
}